
.search_load_container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* max-width: 10rem;
  min-width: 10rem;
  max-height: 10rem;
  min-height: 10rem; */
}



.header {
  /* background-color: #8a9eb5; */
  color: #201f1f; /* Text color */
  padding: 5px; /* Padding around the header content */
  text-align: center; /* Center-align the header text */
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  transition: background-color 0.3s; /* Smooth background color transition */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.message {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  margin-bottom: 3rem;
  font-weight: lighter;
  font-size: 10px
}


.App {
  background-color: #ffffff; /* Updated background color */
  min-height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.box-day {
  border: 4px solid #f6f2f2;
  padding: 11px;
  margin: 5px;
  width: 124px;
  display: inline-block;
  cursor: pointer;
  border-radius: 1rem;
  background-image: linear-gradient(to top left, #8a9ce3, #1510ac);
  transition: background-color 0.3s;
  color: white;
  text-align: center;
  font-size: smaller;
}

.box-day p {
  text-align: center;
}

.box-day:hover {
  background-image: linear-gradient(to top left, #c5ccea, #1510ac);
  transition: background-image 2s;
}

.box-day.active {
  background-image: linear-gradient(to top left, #8ae3d1, #0f09bf);
  transition: background-image 2s;
  /* Add other styles for the active state here */
}

.box {
  border: 1px solid #d6d6d6;
  padding: 6px;
  margin: 3px;
  width: 102px;
  display: inline-block;
  border-radius: 1rem;
  background-color: #3a5f9f;
  transition: background-color 0.3s;
  font-size: 13px;
  padding-left: 5px;
    padding-bottom: 5px
}

.box:hover {
  background-color: #f7d940; /* Box background color on hover */
}

.box-chosen-day {
  background-color: #ffffff;
  border-radius: 1rem;
  text-align: center;
  width: fit-content;
  margin-left: 300px;
  padding-left: 1rem;
  padding-right: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.box h2 {
  font-style: oblique;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.box-night {
  background-color: beige;
}

.box p {
  margin: 5px 0;
  font-size: smaller;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.forecast-container {
    white-space: nowrap;
    min-width: 800px;
    max-width: 800px;
    overflow-x: scroll;
    border: 7px solid darkorange;
    background-image: linear-gradient(to top left, #8a9ce3, #04006b);
    border-radius: 1rem;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    opacity: 0;
        max-height: 207px;
  }

  .forecast-container ul {
padding-left: 1rem;
  }



.list {
  list-style: none;
  padding: 0;
}

.weather-info {
  display: flex;
  align-items: center;
}

.weather-info span {
  font-size: 18px;
}

.weather-info h2 {
  margin-right: 10px;
}

.date-forecast-container {
  display: grid;
  padding: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: linear-gradient(to top left, #ff7403, #ffcb03);
  border-radius: 2rem;
  margin-right: 2rem;

}

/* Customize the scrollbar */
.forecast-container::-webkit-scrollbar {
  width: 12px;
}

.forecast-container::-webkit-scrollbar-track {
  background: transparent;
}

.forecast-container::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 6px;
  border: 3px solid rgba(0, 0, 0, 0.3);
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-container input[type=text] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.search-container button {
  padding: 10px 20px;
  background-image: linear-gradient(to top left, #ff7403, #ffcb03);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 5px;
}

/* Style the search button on hover */
.search-container button:hover {
  background-image: linear-gradient(to top left, #d36206, #fad028);
}